@value color-highlight from '../../../style/variables.module.css';

.wrapper {
    position: absolute;
    right: 10px;
    top: 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4), 0px 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #ffffff;

    display: flex;
    flex-direction: column;
    width: 120px;
    z-index: 1;
}

.wrapper a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    padding: 0 10px;
    line-height: 25px;
    display: block;
}

.wrapper a:hover {
    background-color: color-highlight;
    color: white;
}

.wrapper a:first-child {
    margin-top: 10px;
}

.wrapper a:last-child {
    margin-bottom: 10px;
}
