@value color-grey-400 from '../../style/variables.module.css';

.wrapper {
    position: relative;
    line-height: 24px;
    font-size: 1.3rem;
}

.wrapper button:focus {
    outline: none;
}

.icon {
    margin-right: 8px;
}

.icon > svg {
    fill: color-grey-400;
}

.menuIcon {
    float: right;
}
